/*
    CSS for the header module.
    Do not leave file empty.
*/

.header-module{
  -webkit-app-region: drag;
  height:30px;
  width:100%;
  cursor:pointer;
  background:rgba(40,40,40,.7);
  position:fixed;
  top:0;
  left:0;
  z-index:10000;
}

.header-module div{
  -webkit-app-region: no-drag;
  float:right;
  background:rgb(100,100,100);
  color:rgb(0,0,0);
  border:none;
  height:20px;
  width:20px;
  line-height:20px;
  margin:5px;
  text-align:center;
  border-radius:5px;
}

.header-module .icon-cog{
  display:none;
}
